{% extends "layout.html" %}

{% block content %}

<div class="searchform">
    <div>
        <input type="text" id="cityInput" placeholder="Search city" title="Search city"
            style="width: 100%; height: 35px; border-radius: 10px;">
        <div class="searchresults">
            <ul id="myUL">
            </ul>
        </div>
    </div>
</div>




{% raw %}
<script id="result_template" type="text/html">
    <div class="current-forecast">
    {{ #current }}
        <div id="successMessage" class="alert" role="alert" style = "display: None"></div>
        <div id="cityname" class="cityTitle">{{ city }}</div>
        <div>{{ state }}, {{ country }}</div>
        <div class="currentTime">{{ date }}, {{ currenttime }}</div>
        <p class="description">{{ description }}</p>
        <p class="degrees">{{ celsius }}° C | {{ fahrenheit }}° F</p>
            <form id="unsave_city" action="/unsave_city" method="POST">
                <button type="submit" class="btn">Unsave</button>
            </form>

            <form id="save_city" action="/save_city" method="POST">
                <button type="submit" class="btn">Save</button>
            </form>


    {{ /current }}
    </div>
</div>
<div class="forecast" style="padding: 20px; margin: 30px;">
    <div style="font-size: 20px; margin: 10px;">
        Five days Forecast
    </div>
    <div class="five-day-window">
        {{ #forecast }}
        <div class="box">
            <div class="currentTime-daily" >{{ datetime }}</div>
            <div class="degrees-daily"> {{ celsius }}° C | {{ fahrenheit }}° F</div>
            <p > UV index: {{ uvi }} </p>
        </div>
        {{ /forecast }}
        </div>
</div>


</script>

{% endraw %}

<div id="result"></div>


{% block javascript %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx"
    crossorigin="anonymous"></script>
<script src="{{ url_for('static', filename='js/fetch.js') }}"></script>
<script src="{{ url_for('static', filename='js/save.js') }}"></script>
<script src="{{ url_for('static', filename='js/filter.js') }}"></script>
<!-- Mustache -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/mustache.js/2.3.0/mustache.min.js"></script>

{% endblock javascript %}

{% endblock content %}
