{% extends "layout.html" %}

{% block content %}

<!-- <form method="POST" class="searchbox-weather">
    <fieldset class="form-group searchform">
        <label class="form-control-label">City</label>
        <input type="text" id="city" name="city" class="form-control" autofocus placeholder="City name">
    </fieldset>
    <input id="city_submit" type="submit" class="btn btn-outline-info" value="Submit">
</form> -->

<input type="text" id="myInput" placeholder="Search for names.." title="Type in a name">

<ul id="myUL">
</ul>

<!-- {% raw %}
<script id="result_template" type="text/html">


</script>

{% endraw %}

<div id="result"></div> -->


{% block javascript %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<!--    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx"
    crossorigin="anonymous"></script>
<!-- <script src="{{ url_for('static', filename='js/fetch_test.js') }}"></script>
<script src="{{ url_for('static', filename='js/save.js') }}"></script> -->
<script>
    $(document).ready(function () {

        // $('#myInput').keyup(() => {
        //     // const names = ['Adele', 'Agnes', 'Billy', 'Calvin', 'Christina', 'Cindy'];
        //     var inp, filter, ul, li, i, a, txtValue;
        //     inp = $('#myInput').val();
        //     filter = inp.toUpperCase();
        //     ul = document.getElementById("myUL");

        //     console.log(filter)

        //     if (inp.length > 0) {

        //         $.ajax({
        //             contentType: 'application/json',
        //             type: 'POST',
        //             url: "/filter_cities",
        //             data:
        //                 JSON.stringify({
        //                     city: filter,
        //                 }),
        //             success: function (data) {
        //                 console.log(data);
        //                 // remove
        //                 ul.innerHTML = '';
        //                 // add
        //                 for (i = 0; i < data.length; i++) {
        //                     //     txtValue = json[i]['name'].toUpperCase()
        //                     //     console.log(txtValue, filter)
        //                     //     if (txtValue.startsWith(filter)) {
        //                     li = document.createElement("li");
        //                     a = document.createElement("a");
        //                     a.setAttribute("id", data[i]['id'])
        //                     a.setAttribute("href", `/?q=${data[i]['id']}`)
        //                     // <a id="{{ city }}" href="/?q={{ city }}"> {{ city }} </a>
        //                     a.innerHTML = `${data[i]['name']}, ${data[i]['state']}, ${data[i]['country']}`;
        //                     li.appendChild(a);
        //                     ul.appendChild(li);
        //                 }
        //             }

        //         });

        //     }
        //     else {
        //         ul.innerHTML = '';
        //     }
        // });
    })


</script>
<!-- Mustache -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/mustache.js/2.3.0/mustache.min.js"></script>

{% endblock javascript %}

{% endblock content %}
